<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let item of productosService.productos">
                <div class="card shadow-sm">
                    <img src="{{item.imagen}}" alt="BurgerA">
                    <div class="card-body">
                        <p class="card-text">Nombre: {{item.nombre}}</p>
                        <p class="card-text">Descripcion: {{item.descripcion}}</p>
                        <p class="card-text">Precio: {{item.precio}}</p>
                        <p class="card-text">Cantidad: {{item.cantidad}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Agregar al carrito</button>
                            </div>
                            <small class="text-muted">10 Producto</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>