<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" routerLinkActive="active" routerLink="/"> Home</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" routerLinkActive="active" routerLink="/login"> Login</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" routerLinkActive="active" routerLink="/registro"> Registro</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" routerLinkActive="active" routerLink="/carrito"> Carrito</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<a class="btn btn-primary" routerLinkActive="active" routerLink="/ingresar"> Ingresar</a>-->